p,
.card-title {
    color: #94a1b2;
}

.social-icon {
    margin: 10px 0;
}

.title-icon {
    margin: 20px;
}

.social-icon,
.title-icon {
    color: #fffffe;
}

.card-body {
    background-color: #16161a;
}
